.contact-box{
    clip-path: polygon(0 0, 82% 0, 100% 19%, 100% 100%, 19% 100%, 0 82%);
    background: linear-gradient(180deg, #414141 0%, #232323 100%);
    width: 25vw;
    color:white;
    font-family: 'Poppins';
    display: flex;
    flex-direction:column;
    padding:1rem;
}
.contact{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.socials a img{
    height: 3.5rem !important;
    width:auto;
    margin: 10px;
}
.venue{
    color:white;
    border-style: solid;
    border-width: 1.5px;
    padding:0.5rem;
    text-align: center;
}
#idk{
    margin:auto;
}