.prizes{
    overflow: hidden;
}
.PrizeBox {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.PrizeBox div {
    border-radius: 25px;
    background: linear-gradient(145.19deg, #373737 0%, rgba(50, 49, 49, 0.58) 103.88%);
    color: white !important;
    font-family: 'Poppins';
     text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.PrizeBox span{
    text-align: center;
    
}

.Prize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Prize img{
    position:relative !important;
    top:-100px !important;
    margin:auto;
    
}
#firstprize{
    position:relative !important;
    top:-100px !important;
    left:379px;
    margin:auto;
}
#secondprize{
    position:relative !important;
    left:-450px !important;
    top:-50px !important;
    margin:auto;
}
#thirdprize{
    position:relative !important;
    left:50px !important;
    top:-50px;
    margin:auto;
}

@media (max-width:768px){
.prizes h1{
    font-size:1.5rem !important;
}
}