.prizes{
    overflow: hidden;
}
.PrizeBox {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.PrizeBox div {
    border-radius: 25px;
    background: linear-gradient(145.19deg, #373737 0%, rgba(50, 49, 49, 0.58) 103.88%);
    color: white !important;
    font-family: 'Poppins';
}
.PrizeBox span{
    text-align: center;
    
}
.prizebox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Prize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.Prize img{
    position:relative !important;
    top:-100px !important;
    margin:auto;
    
}
#firstprize{
    position:relative !important;
    top:50px !important;
    margin:auto;
}
#secondprize{
    position:relative !important;
    left:-400px !important;
    top:-50px !important;
    margin:auto;
}
#thirdprize{
    position:relative !important;
    left:400px !important;
    top:-240px;
    margin:auto;
}

