.tracks {
    overflow: hidden;
}

.tracks span {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.trackBox {
    display: grid;
    height: 82vh !important;
    width: 70vw;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 13px;

}

.trackBox div {
    border-radius: 10px;
    background: linear-gradient(92.51deg, #2A2A2A -0.03%, rgba(72, 72, 72, 0) 117.26%);
    color: white;
    font-family: 'a Atmospheric', sans-serif;
}

#item-0 {

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-1 {

    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-2 {

    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

#item-3 {

    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#item-4 {

    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 6;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ReactModal__Content,
.ReactModal__Content--after-open {
    background: rgb(230, 236, 218) !important;
    opacity: 1 !important;
    color: rgb(0, 0, 0) !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center !important;
    /*border: 0px !important;*/
    -webkit-box-shadow: -10px 7px 38px -152px rgba(255, 255, 255, 1);
    -moz-box-shadow: -10px 7px 38px -152px rgba(255, 255, 255, 1);
    box-shadow: -10px 7px 38px -152px rgba(255, 255, 255, 1);
    height: 70vh;
    margin: auto;
    width: 65vw;
    /*border-image: linear-gradient(#f6b73c, #4d9f0c) 30 !important;*/
    border-image: linear-gradient(90.36deg, #9A2381 0.3%, #E67067 99.69%) 1 !important;
    border-width: 10px !important;
    border-style: solid !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
    background: transparent !important;
}

.ReactModal__Overlay {
    -webkit-animation: pop-in 0.5s;
    -moz-animation: pop-in 0.5s;
    -ms-animation: pop-in 0.5s;
}

@-webkit-keyframes pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pop-in {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.trackBox img {
    height: 15vh;
}

#tabtab {
    width: 100%;
    color: rgb(0, 0, 0) !important;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    padding-top: 0.44rem;
}

#tabtab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: linear-gradient(92.51deg, #f8f8f8 -0.03%, rgba(255, 255, 255, 1) 117.26%) !important;
    font-weight: bold;
    cursor: pointer;
}

#tabtab-label:hover {
    background: linear-gradient(92.51deg, #ffffff -0.03%, rgba(255, 255, 255, 1) 117.26%) !important;
}

#tabtab-label::after {
    content: "❯" !important;
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

#tabtab-content {
    /*max-height: 0;*/
    padding: 0 1em;
    color: black !important;
    /* background: white; */
    background: linear-gradient(145.19deg, #ffffff 0%, rgba(255, 255, 255, 0.58) 103.88%) !important;
    transition: all 0.35s !important;
}

#tabtab-close {
    display: flex !important;
    justify-content: flex-end;
    padding: 1em !important;
    font-size: 0.75em !important;
    background: linear-gradient(92.51deg, #ffffff -0.03%, rgba(255, 255, 255, 1) 117.26%) !important;
    cursor: pointer;
}

#tabtab-close:hover {
    background: linear-gradient(92.51deg, #ffffff -0.03%, rgba(255, 255, 255, 1) 117.26%) !important;
}

@media only screen and (max-width: 900px) {
    .trackBox {
        display: grid;

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        gap: 20px;
        height: 100%;

    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 2;
        grid-column-end: 3;

    }

    #item-1 {
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 3;
        flex-direction: row;
    }

    #item-2 {

        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 4;
        grid-column-end: 3;
    }

    #item-3 {
        grid-row-start: 4;
        grid-column-start: 1;

        grid-row-end: 5;
        grid-column-end: 3;
        flex-direction: row;
    }

    #item-4 {

        grid-row-start: 5;
        grid-column-start: 1;

        grid-row-end: 6;
        grid-column-end: 3;
    }

    .tracks {
        overflow: none !important;
    }

    .trackBox div h2,
    h3 {
        font-size: 1em !important;
    }

    .trackBox img {
        height: 7.5vh;
    }
}

@media only screen and (max-width: 550px) {
    .trackBox {
        width: 100vw;
    }

    .trackBox img {
        height: 5vh;
    }

    .trackBox div h3 {
        font-size: 0.9em !important;
    }
}